/* Reset global style*/
body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333
}

/* Header and Navigation*/
header{
    background-color: darkblue;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav ul{
    list-style-type: none;
    padding: 0;
}

nav ul li{
    display: inline;
    margin: 0 15px;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

nav a:hover{
    color: orange
}